# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\secondYear\Java\PlayingCardDeck\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
